*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--color-secondary-color: #0084FD;
	--color-dark-color: #333333;
	--color-light-color: #FFFFFF;
	--color-primary-color: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast-color: #FCC060;
	--color-text: #424242;
}
body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--color-light-color);
    color: var(--color-text);
}
img{
    display: block;
    width: 100%;
}
.container{
    padding: 5px;
}
.col{
    padding: 10px;
}
.card{
    height: 100%;
}

/* UTILITY */

.even-section{
    background-color: var(--color-primary-color);
}

.bg-light{
    background-color: var(--color-light-color);
}
.bg.card{
    background-color: var(--color-bg-card);
}
/* HEADER */

header{
    background-color: var(--color-secondary-color);
    color: var(--color-light-color);
}

/* FOOTER */

footer{
    background-color: var(--color-dark-color);
    color: var(--color-light-color);
}